{% extends 'admin/model/list.html' %}

{% block head %}
    {{ super() }}
    <style>
    {% if admin_view.column_center_list %}
        {% for column in admin_view.column_center_list %}
            .col-{{ column }},
        {% endfor %}
        .col-center { text-align: center; }
    {% endif %}
    </style>
{% endblock %}

{% block model_menu_bar %}
<ul class="nav nav-tabs actions-nav">
    <li class="active">
        <a href="javascript:void(0)">{{ _gettext('List') }}{% if count %} ({{ count }}){% endif %}</a>
    </li>

    {% if admin_view.can_create %}
    <li>
      {%- if admin_view.create_modal -%}
        {{ lib.add_modal_button(url=get_url('.create_view', url=return_url, modal=True), title=_gettext('Create new record'), content=_gettext('Create')) }}
      {% else %}
        <a href="{{ get_url('.create_view', url=return_url) }}" title="{{ _gettext('Create new record') }}">{{ _gettext('Create') }}</a>
      {%- endif -%}
    </li>
    {% endif %}

    {% if admin_view.tabs %}
    <li>
        {% for tab in admin_view.tabs %}
            <a href="{{ get_url(tab.endpoint, url=return_url) }}" title="{{ tab.title }}">{{ tab.text }}</a>
        {% endfor %}
    </li>
    {% endif %}

    {% if filters %}
    <li class="dropdown">
        {{ model_layout.filter_options() }}
    </li>
    {% endif %}

    {% if actions %}
    <li class="dropdown">
        {{ actionlib.dropdown(actions) }}
    </li>
    {% endif %}

    {% if search_supported %}
    <li>
        {{ model_layout.search_form() }}
    </li>
    {% endif %}
</ul>
{% endblock %}

{% block tail %}
    {{ super() }}
    {% if admin_view.show_popover %}
    <script type="text/javascript">
    $(function () {
      $('[data-toggle="popover"]').popover()
    })
    </script>
    {% endif %}

    {% if admin_view.script %}
    <script type="text/javascript">
        {{ admin_view.script | safe }}
    </script>
    {% endif %}
{% endblock %}