{% extends 'admin/model/list.html' %}

{% block head %}
    {{ super() }}
    <style>
    {% if admin_view.column_center_list %}
        {% for column in admin_view.column_center_list %}
            .col-{{ column }},
        {% endfor %}
        .col-center { text-align: center; }
    {% endif %}
    </style>
{% endblock %}

{% block tail %}
    {{ super() }}
    {% if admin_view.show_popover %}
    <script type="text/javascript">
    $(function () {
      $('[data-toggle="popover"]').popover()
    })
    </script>
    {% endif %}
{% endblock %}